{% extends 'layout.html' %} {% block body %}
<section style="background-color: #cecee4;">
    <div class="container weather-container" >
        <div class="search-bar">
            <nav class="navbar bg-body-tertiary" >
                <div class="container-fluid">
                  <form class="d-flex" class="search-bar" role="search" method="POST" style="width: 40rem;">
                    <input class="form-control me-2" type="search" placeholder="City Name" aria-label="Search">
                    <button type="submit" class="btn btn-outline-light" style="margin-left: 10px;">Search</button>
                    <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                  </form>
                </div>
              </nav>
        </div>
        <div class="weather-result">
            <div class="city-div">
                <h1 style="color: white; font-weight: bold;">City</h1>  
            </div>
        </div>
    </div>
</section>



{% endblock %}